@charset "utf-8";
/* CSS Document */

/*HEADER CHANGES*/
.main-user-info span {
	color: #34C38D;
}

.main-user-info img {
	border: 2px solid #34C38D;
}

/*SETTING INFO*/
.settings-info {
	width: 100%;
	height: 403px;
	background-color: #ffffff;
	padding: 20px 0px;
	
	position: relative;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.settings-info svg {
	position: absolute;
	top: 0px;
}

.settings-info-wrapper {
	width: 100%;
	height: 100%;
	background-color: #eaf9f3;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.settings-info-wrapper h2 {
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
	background-color: #34C38D;
}

.settings-info-wrapper p {
	margin: 0px;
	padding: 0px 20px;
}

.pws-info {
	height: 30px;
	padding: 0px 20px;
	font-size: 14px;
	
	border-radius: 8px 8px 0px 0px;
	background-color: #4f5a7b;
}

.user-info-section {
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.profile-info {
	width: 48%;
	height: 1202px;
	background-color: #ffffff;
	
	position: relative;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.account-info {
	width: 48%;
	height: 1202px;
	background-color: #ffffff;
	
	position: relative;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.photo-section {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0px 0px;
}

.photo-section img {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0px 0px;
}

/*MEDIA*/

/*1024 px*/

@media screen and (max-width: 1024px) {
	
}

/*TABLET*/

@media screen and (max-width: 768px) {
	/*	profile info*/
	.profile-info {
		width: 100%;
	}
	.account-info {
		width: 100%;
	}
}

/*MOBILE*/

@media screen and (max-width: 480px) {
	/*SETTING INFO*/
	.settings-info {
		height: 457px;
	}
	.settings-info-wrapper h2 {
		font-size: 17px;
	}
	.settings-info-wrapper > span {
		font-size: 12px;
	}
	.settings-info-wrapper p {
		font-size: 11px;
		padding: 0px 12px;
	}
	.pws-info {
		width: 100%;
		height: 50px;
		padding: 0px 0px;
		font-size: 12px;
		border-radius: 0px;
	}
	.pws-info > span {
		margin: 0px 20px;
	}
}